<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>

    <main style="min-height: 100vh; background-color:#e7d3d3">
     <div>
        
       <h1>About</h1>
       <hr/>
       <img src="./asset/abc.jpeg" height="100" width="100"/>
     </div>
    </main>
    <%- include('../partials/footer') %>

</body>
</html>